# Build artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# Output files / executables (idk what to say em tbh)
v_add
v_mult
v_dot

# Executables
*.exe
*.out

# Build directories
build/
cmake-build-*/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
